name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  bin-build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04]

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --profile release-lto
    - name: Upload binary
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/release-lto/yofi
        asset_name: yofi-${{ matrix.os }}
        tag: ${{ github.ref }}
